<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Review Confirmation</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
      <h1>Thanks for the Review!</h1>
      <div>
          <h3>Your Name:</h3> {{name}}
      </div>
      <p>
          <h3>Comment:</h3> {{comment}}
      </p>
      <p>
          <h3>Rating:</h3> {{rating}}
      </p>
      <a href="/">Back to Homepage</a>
  </body>
  </html>