<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Specialty Pizzas</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
      <form action="/confirmation" method="GET">
      <h1>Leave a Review</h1>
      <p>
        <label for="name">
          Your name
        </label>
        <input name="name" id="name" required/>
      </p>

      <p>
        <label for="comment">
            Comment
        </label>
        <div>
            <textarea name="comment" id="comment" required></textarea>
        </div>
      </p>
       
      <p>
        <h2>Rating</h2>
        <input type="radio" name="rating" id="comment" value="5"/>
        <label for="5">5 (best)</label>
        <input type="radio" name="rating" id="comment" value="4"/>
        <label for="4">4</label>
        <input type="radio" name="rating" id="comment" value="3"/>
        <label for="3">3</label>
        <input type="radio" name="rating" id="comment" value="2"/>
        <label for="2">2</label>
        <input type="radio" name="rating" id="comment" value="1"/>
        <label for="1">1 (worst)</label>
      </p>
      <p>
			<input type="submit" value="Submit"/>
			<a href="/">Nevermind</a>
		</p>
      </form>

  </body>
  </html>