p{
    font-size: 200%;
    font-weight: bolder;
}

section{
    padding-left: 10px;
}

#pic{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 125px;
  padding: 10px;
}

#container{
    border-radius: 10px;
    border-style: solid;
    width: fit-content;
    padding: 10px;
}